
.tweetReply {

  width: 40vw;

  position: relative;
  padding: 5px;
  margin: 5px;

  color: #4C80D0;
  background-color: #EBEDF1;

  border-radius: 5px;

  font-size: x-small;

  .tweetAvatar {

    position: relative;
    height: 3rem;
    width: 3rem;

    margin: auto 5px auto 5px;
    border-radius: 5px;
  }


  .userDetails {
    margin: auto 0 auto 0;
  }

  .currentTime {
    width: 35%;
    text-align: right;
  }

  .tweetUserDetails {
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }

  .tweetFormWrapper {
    display: flex;
    justify-content: space-between;
  }

  .newTweetInput {

    font-family: 'Josefin Sans', sans-serif;

    font-size: small;
    text-align: right;

    color: #a6a6a6;
    background-color: #EBEDF1;


    border-right: none;
    border-left: none;
    border-top: none;

    margin: 15px 0 15px 0;
  }

  .buttonWrapper {
    display: flex;
    justify-content: right;
    margin: 5px;
  }

  .formButton {
    width: 4vw;
    height: 1.5vw;
    font-size: xx-small;
    margin: auto 0 auto 5px;
  }
}


